@use "../foundation/tokens" as *;

.heading {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  color: $color-text;
}

.heading--s {
  font-size: 0.875rem;
}

.heading--l {
  font-size: 1.25rem;
}
